<a href="/">Intro Page</a><a style="padding-left:10px" href="/teams">Team Index</a><a style="padding-left:10px" href="/players">Player Index</a>

<%= form_with url: "/teams/#{@team.id}", method: :patch, local: true do |f| %>
  <%= f.label 'city:' %><br>
  <%= f.text_field :city %><br>
  <%= f.label 'name:' %><br>
  <%= f.text_field :name %><br>
  <%= f.submit 'Update' %><br>
<% end %>
