<style>
body {
  background-image: url('https://wallpaperaccess.com/full/1580197.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<center>
<h2><a href="/" style="color:white;">Intro Page</a><a style="color:white;padding-left:10px" href="/teams">Team Index</a><a style="color:white;padding-left:10px" href="/players">Player Index</a></h2>

<div style="padding:20px;color:white;">
<%= form_with url: "/teams/#{@team.id}", method: :patch, local: true do |f| %>
  <%= f.label 'city:' %><br>
  <%= f.text_field :city %><br><br>
  <%= f.label 'name:' %><br>
  <%= f.text_field :name %><br><br>
  <%= f.submit 'Update' %><br><br>
<% end %>
</div>
</center>
