<a href="/">Intro Page</a>

<h1>All Teams</h1>
<% @teams.each do |team| %>
<div style="border:solid white;background:lightgrey;color:black;padding:15px;font-size:18px">
  <h2><a href="/teams/<%= team.id %>"><%= team.city %> <%= team.name %></a></h2>
  <p><b>Rank: </b><%= team.rank %></p>
  <p><b>First Place Team: </b><%= team.first_place %></p>
</div>
<% end %>

<form style="padding:20px;" action="/teams/new" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="New Team">
</form>
