<style>
body {
  background-image: url('https://wallpaperaccess.com/full/1580197.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<center>
<h2><a href="/" style="color:white;">Intro Page</a><a style="color:white;padding-left:10px;" href="/teams">Team Index</a><a style="color:white;padding-left:10px" href="/players">Player Index</a></h2>

<h1 style="color:white;font-size:42px;border:solid white">All Teams</h1>

<div style="padding:20px">
  <%= button_to "New Team", "/teams/new", method: :get %>
</div>


<%= form_tag "/teams", method: :patch do %>
  <%= label_tag  %>
  <%= text_field_tag :name %>
  <%= submit_tag 'Search Team By Name' %>
<% end %>

<div style="padding:10px">
<%= link_to "Sort Teams By Number of Players", "/teams?sort=asc", {:style => "color:white"} %>
</div>

<% if params[:sort] %>
  <% @teams.sorted_by_created_at.each do |team| %>
    <div style="width:500px;margin:0px 100px 100px 100px;background-image: url('https://www.ignitionapg.com/wp-content/uploads/2017/03/MLB-Background-1.jpg');border:solid black;color:black;padding:15px;font-size:18px">
      <h2><a href="/teams/<%= team.id %>"><%= team.city %> <%= team.name %></a></h2>
      <p><b>Player Count: </b><%= team.players.count %></p>
      <p><b>Rank: </b><%= team.rank %></p>
      <p><b>First Place Team: </b><%= team.first_place %></p>
      <p><b>Created At: </b><%= team.created_at %></p>
      <div style="padding:10px">
        <%= button_to "Update Team", "/teams/#{team.id}/edit", method: :get %>
      </div>
      <div style="padding:10px">
        <%= button_to "Delete Team", "/teams/#{team.id}", method: :delete %>
      </div>
    </div>
  <% end %>
<% else %>
  <% @teams.each do |team| %>
    <div style="width:500px;margin:0px 100px 100px 100px;background-image: url('https://www.ignitionapg.com/wp-content/uploads/2017/03/MLB-Background-1.jpg');border:solid black;color:black;padding:15px;font-size:18px">
      <h2><a href="/teams/<%= team.id %>"><%= team.city %> <%= team.name %></a></h2>
      <p><b>Rank: </b><%= team.rank %></p>
      <p><b>First Place Team: </b><%= team.first_place %></p>
      <p><b>Created At: </b><%= team.created_at %></p>
      <div style="padding:10px">
        <%= button_to "Update Team", "/teams/#{team.id}/edit", method: :get %>
      </div>
      <div style="padding:10px">
        <%= button_to "Delete Team", "/teams/#{team.id}", method: :delete %>
      </div>
    </div>
  <% end %>
<% end %>
</center>
