<style>
body {
  background-image: url('https://wallpaperaccess.com/full/1580197.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<center>
<h2><a href="/" style="color:white;">Intro Page</a><a style="color:white;padding-left:10px" href="/teams">Team Index</a><a style="color:white;padding-left:10px" href="/players">Player Index</a></h2>

<h1 style="color:white;font-size:42px;border:solid white">All <%= @team.name %> Players</h1>
<h2><a style="color:white" href="/teams/<%= @team.id %>"><%= @team.name %> Team Page</a></h2>

<div style="padding:20px">
  <%= button_to "Add New Player", "/teams/#{@team.id}/players/new", method: :get %>
</div>

<%= form_with url: "/teams/#{@team.id}/players", method: :patch, local: true do |f| %>
  <%= f.number_field :age_of %>
  <%= f.submit 'Show All Players Over This Age' %>
<% end %>

<div style="padding:10px">
<%= link_to "Sort All #{@team.name} Players By Name", "/teams/#{@team.id}/players?sort=asc", {:style => "color:white"} %>
</div>

<% @players.each do |player| %>
  <div style="background-image: url('https://www.ignitionapg.com/wp-content/uploads/2017/03/MLB-Background-1.jpg');width:500px;margin:0px 100px 100px 100px;border:solid black;color:black;padding:15px;font-size:18px">
    <h2><a href="/players/<%= player.id %>"> <%= player.name %></a></h2>
    <p><b>Position: </b><%= player.position %></p>
    <p><b>Age: </b><%= player.age %></p>
    <p><b>Starter: </b><%= player.starter %></p>
    <p><b>Created At: </b><%= player.created_at %></p>
    <p><b>Updated At: </b><%= player.updated_at %></p>
    <p><b>Team ID: </b><%= player.team_id %></p>

    <div style="padding:10px">
    <%= button_to "Update Player", "/players/#{player.id}/edit", method: :get %>
    </div>
    <div style="padding:10px">
    <%= button_to "Delete Player", "/players/#{player.id}", method: :delete %>
    </div>
  </div>
<% end %>
</center>
