<a href="/">Intro Page</a><a style="padding-left:10px" href="/teams">Team Index</a><a style="padding-left:10px" href="/players">Player Index</a>


<h1>All <%= @team.name %> Players</h1>
<a href="/teams/<%= @team.id %>"><%= @team.name %> Team Page</a>

<form style="padding:20px;" action="/teams/<%= @team.id %>/players/new" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Add New Player">
</form>

<%= form_tag "/teams/#{@team.id}/players", method: :patch do %>
  <%= label_tag %>
  <%= text_field_tag :age_of %>

  <%= submit_tag 'Show All Players Over This Age' %>
<% end %>

<div style="padding:10px">
<%= link_to "Sort All #{@team.name} Players By Name", "/teams/#{@team.id}/players?sort=asc" %>
</div>

<% @players.each do |player| %>
  <div style="border:solid white;background:lightgrey;color:black;padding:15px;font-size:18px">
    <h2><a href="/players/<%= player.id %>"> <%= player.name %></a></h2>
    <p><b>Name: </b><%= player.name %></p>
    <p><b>Position: </b><%= player.position %></p>
    <p><b>Age: </b><%= player.age %></p>
    <p><b>Starter: </b><%= player.starter %></p>
    <p><b>Created At: </b><%= player.created_at %></p>
    <p><b>Updated At: </b><%= player.updated_at %></p>
    <p><b>Team ID: </b><%= player.team_id %></p>
    <form style="padding:10px;" action="/players/<%= player.id  %>/edit" method="get">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Update Player">
    </form>
    <form style="padding:10px;" action="/players/<%= player.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Player"/>
    </form>
  </div>
<% end %>
