<a href="/teams">Team Index</a>

<h1><%= @team.title %></h1>
<p><%= @team.name %><p>
<p><%= @team.city %><p>
<p><%= @team.rank %><p>
<p><%= @team.first_place %><p>
<p><%= @team.created_at %><p>
<p><%= @team.updated_at %><p>
