<a href="/">Intro Page</a><a style="padding-left:10px" href="/teams">Team Index</a><a style="padding-left:10px" href="/players">Player Index</a>

<a  href="/teams/<%= @team.id %>/players"><h3 style="padding-top:10px;padding-left:10px"> All <%= @team.name %> Players</h3></a>

<div style="border:solid white;background:lightgrey;color:black;padding:15px;font-size:18px">
  <h2><%= @team.city %> <%= @team.name %></h2>
  <p><b>Rank: </b><%= @team.rank %></p>
  <p><b>First Place Team: </b><%= @team.first_place %></p>
  <p><b>Created At: </b><%= @team.created_at %></p>
  <p><b>Updated At: </b><%= @team.updated_at %></p>
  <p><b>Total Players: </b><%= @team.player_count %></p>

  <div style="padding:10px">
    <%= button_to "Update Team", "/teams/#{@team.id}/edit", method: :get %>
  </div>
  <div style="padding:10px">
    <%= button_to "Delete Team", "/teams/#{@team.id}", method: :delete %>
  </div>
</div>

<div style="padding:20px">
  <%= button_to "Add New Player", "/teams/#{@team.id}/players/new", method: :get %>
</div>
