<a href="/mounts">Mount Index</a>

<h1><%= @mount.name %></h1>

<p>hero_id: <%= @mount.hero_id %></p>
<p>level: <%= @mount.level %></p>
<p>fly?: <%= @mount.fly %></p>
<p>created_at: <%= @mount.created_at %></p>
<p>updated_at: <%= @mount.updated_at %></p>

<form style="padding:20px;" action="/mounts/<%= @mount.id  %>/edit" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Update Mount">
</form>
