<a href="/mounts">Mount Index</a>

<h1><%= @mount.name %></h1>

<p><%= @mount.heroes_id %></p>
<p><%= @mount.level %></p>
<p><%= @mount.fly %></p>
<p><%= @mount.created_at %></p>
<p><%= @mount.updated_at %></p>

<a href="/mounts/<%= @mount.id %>/edit">Edit</a>
