<%= link_to 'Intro Page', "/" %>
<%= link_to 'Hero Index', "/heroes" %>
<%= link_to 'Mount Index', "/mounts" %><br>
<%= link_to "#{@mount.hero.name} page", "/heroes/#{@mount.hero.id}" %>


<h1><%= @mount.name %></h1>

<p>hero_id: <%= @mount.hero_id %></p>
<p>level: <%= @mount.level %></p>
<p>fly?: <%= @mount.fly %></p>
<p>created_at: <%= @mount.created_at %></p>
<p>updated_at: <%= @mount.updated_at %></p>
<%= link_to 'Update Mount', "/mounts/#{@mount.id}/edit" %>
<%= button_to 'Delete Mount', "/mounts/#{@mount.id}", method: :delete %>
