<style>
  body {
    background-color:black
  }

  h1 {
    color:cyan
  }

  p {
    color:white
  }

  div {
    border:solid white;
    color:black;
    padding:15px;
    font-size:18px;
  }
  </style>
<body>

<%= link_to 'Intro Page', "/",        {:style => 'color:white'} %>
<%= link_to 'Hero Index', "/heroes",  {:style => 'color:white'} %>
<%= link_to 'Mount Index', "/mounts", {:style => 'color:white'} %><br>
<%= link_to "#{@mount.hero.name} page", "/heroes/#{@mount.hero.id}", {:style => 'color:white'} %>

<h1>           <%= @mount.name       %></h1>
<p>   hero_id: <%= @mount.hero_id    %></p>
<p>     level: <%= @mount.level      %></p>
<p>      fly?: <%= @mount.fly        %></p>
<p>created_at: <%= @mount.created_at %></p>
<p>updated_at: <%= @mount.updated_at %></p>
<%= link_to   'Update Mount', "/mounts/#{@mount.id}/edit", {:style => 'color:white'} %>
<%= button_to 'Delete Mount', "/mounts/#{@mount.id}"     , method: :delete           %>
