<form action="/players/<%= @player.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />

  <label for="name">Name:</label><br>
  <input type="text" name="player[name]" value="<%= @player.name %>"><br>

  <label for="age">Age:</label><br>
  <input type="text" name="player[age]" value="<%= @player.age %>"><br><br>

  <label for="position">Position:</label><br>
  <input type="text" name="player[position]" value="<%= @player.position %>"><br><br>

  <input type="submit" value="Update">
</form>
