<a href="/">Intro Page</a><a style="padding-left:10px" href="/teams">Team Index</a><a style="padding-left:10px" href="/players">Player Index</a>

<%= form_with url: "/players/#{@player.id}", method: :patch, local: true do |f| %>
  <%= f.label 'name:' %><br>
  <%= f.text_field :name %><br>
  <%= f.label 'age:' %><br>
  <%= f.number_field :age %><br>
  <%= f.label "position:" %><br>
  <%= f.text_field :position %><br>
  <%= f.submit 'Update' %><br>
<% end %>
