<!DOCTYPE html>
<html>
  <head>
    <style>
      body {  }
    </style>
  </head>
  <body>
    <h1>All Heroes</h1>

    <% @heros.each do |hero| %>
    <div style="border:solid white;background:lightgrey;color:black;padding:15px;font-size:18px">
      <h3><a href="/heroes/<%= hero.id %>"><%= hero.name %></a></h3>
        <p>level: <%= hero.level %></p>
        <p>alive?: <%= hero.alive %></p>
        <p>created_at: <%= hero.created_at %></p>
        <p>updated_at: <%= hero.updated_at %></p>
        <a href="/heroes/<%= hero.id %>/edit">Edit</a>
   </div>
   <% end %>

   <form action="/heroes/new" method="get">
     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
     <input type="hidden" name="_method" value="New Hero">
     <input type="submit" value="New Hero"/>
   </form>

    <a href="/">Intro Page</a>
  </body>
</html>
