<%= link_to 'Intro Page', "/" %>
<%= link_to 'Hero Index', "/heroes" %>
<%= link_to 'Mount Index', "/mounts" %><br>
<%= link_to 'Sort by #of Mounts', '/heroes?sort=asc' %>
<%= form_with url: '/heroes', method: :patch, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'Search Name' %>
<% end %>

<h1>All Heroes</h1>
<%= link_to 'Create New Hero', "/heroes/new" %>
<% if params[:sort]%>
  <% @heros.each do |hero| %>
    <%hero.mount_count%>
       <div style="border:solid white;background:lightblue;color:black;padding:15px;font-size:18px">
         <h3>
           <%= link_to "#{hero.name} has #{hero.mount_count} mounts", "/heroes/#{hero.id}" %>
         </h3>
           <p>level: <%= hero.level %></p>
           <p>alive?: <%= hero.alive %></p>
           <p>created_at: <%= hero.created_at %></p>
           <p>updated_at: <%= hero.updated_at %></p>
          <%= link_to 'Update Hero', "/heroes/#{hero.id}/edit" %>
          <%= button_to 'Delete', "/heroes/#{hero.id}", method: :delete %>
        </div>
      <% end %>
  <% else %>
<% @heros.each do |hero| %>
  <div style="border:solid white;background:yellow;color:blue;padding:15px;font-size:18px">
    <h3><a href="/heroes/<%= hero.id %>"><%= hero.name %></a></h3>
    <p>total # of mounts: <%=hero.mount_count%></p>
      <p>level: <%= hero.level %></p>
      <p>alive?: <%= hero.alive %></p>
      <p>created_at: <%= hero.created_at %></p>
      <p>updated_at: <%= hero.updated_at %></p>
      <%= link_to 'Update Hero', "/heroes/#{hero.id}/edit" %>
      <%= button_to 'Delete', "/heroes/#{hero.id}", method: :delete %>
   </div>
   <% end %>
 <% end %>
