
    <!DOCTYPE html>
<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <a href="/">Intro Page</a>
    <a style="padding-left:10px" href="/heroes">Hero Index</a>
    <a style="padding-left:10px" href="/mounts">Mount Index</a><br>
    <%= link_to 'Sort by #of Mounts', '/heroes?sort=asc' %>
    <form action="/heroes/new" method="get">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="New Hero">
      <input type="submit" value="New Hero"/>
    </form>
    <%= form_tag "/heroes", method: :patch do %>
      <%= label_tag %>
      <%= text_field_tag :name %>
      <%= submit_tag 'Search Name' %>
    <% end %>

    <h1>All Heroes</h1>
    <% if params[:name]%>
    <% @heros.name_search(params[:name]).each do |hero| %>
      <div style="border:solid white;background:lightgrey;color:black;padding:15px;font-size:18px">
        <h3><a href="/heroes/<%= hero.id %>"><%= hero.name %></a></h3>
        <p>total # of mounts: <%=hero.mount_count%></p>
          <p>level: <%= hero.level %></p>
          <p>alive?: <%= hero.alive %></p>
          <p>created_at: <%= hero.created_at %></p>
          <p>updated_at: <%= hero.updated_at %></p>
          <a href="/heroes/<%= hero.id %>/edit">Edit</a>
        <form action="/heroes/<%= hero.id %>" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Extinguish Hero"/>
        </form>
       </div>
     <% end %>
  <% elsif params[:sort]%>
  <% @heros.number_of_mounts.each do |hero| %>
    <%hero.mount_count%>
       <div style="border:solid white;background:lightgrey;color:black;padding:15px;font-size:18px">
         <h3><a href="/heroes/<%= hero.id %>"><%= hero.name %> has <%=hero.mount_count%> mounts </a></h3>
           <p>level: <%= hero.level %></p>
           <p>alive?: <%= hero.alive %></p>
           <p>created_at: <%= hero.created_at %></p>
           <p>updated_at: <%= hero.updated_at %></p>
           <a href="/heroes/<%= hero.id %>/edit">Edit</a>
         <form action="/heroes/<%= hero.id %>" method="POST">
           <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
           <input type="hidden" name="_method" value="DELETE">
           <input type="submit" value="Extinguish Hero"/>
         </form>
        </div>
      <% end %>
  <% else %>
    <% @heros.sorted_by_created_at.each do |hero| %>
    <div style="border:solid white;background:lightgrey;color:black;padding:15px;font-size:18px">
      <h3><a href="/heroes/<%= hero.id %>"><%= hero.name %></a></h3>
      <p>total # of mounts: <%=hero.mounts.count%></p>
        <p>level: <%= hero.level %></p>
        <p>alive?: <%= hero.alive %></p>
        <p>created_at: <%= hero.created_at %></p>
        <p>updated_at: <%= hero.updated_at %></p>
        <a href="/heroes/<%= hero.id %>/edit">Edit</a>
        <form action="/heroes/<%= hero.id %>" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Extinguish Hero"/>
        </form>
   </div>
   <% end %>
 <% end %>
  </body>
</html>
