<%= link_to 'Intro Page', "/" %>
<%= link_to 'Hero Index', "/heroes" %>
<%= link_to 'Mount Index', "/mounts" %><br>
<%= link_to "Back to #{@hero.name} page", "/heroes/#{@hero.id}" %><br>
<%= link_to 'Sort by name', "/heroes/#{@hero.id}/mounts?sort=asc" %>
<%= form_tag "/heroes/#{@hero.id}/mounts", method: :patch do %>
  <%= label_tag %>
  <%= text_field_tag :level %>
  <%= submit_tag 'All Mounts above level' %>
<% end %>

<h1><%= @hero.name %> Mounts</h1>

<form action="/heroes/<%= @hero.id %>/mounts/new" method="get">
  <input id="name" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Add New Mount">
</form>

  <% @mounts.each do |mount| %>
    <div style="border:solid white;background:lightgrey;color:black;padding:15px;font-size:18px">
      <h2><a href="/mounts/<%= mount.id %>"> <%= mount.name %></a></h2>
        <p><b>Name:       </b><%= mount.name       %></p>
        <p><b>fly?:       </b><%= mount.fly        %></p>
        <p><b>level:      </b><%= mount.level      %></p>
        <p><b>Created At: </b><%= mount.created_at %></p>
        <p><b>Updated At: </b><%= mount.updated_at %></p>
        <p><b>Hero ID:    </b><%= mount.hero_id    %></p>

      <form action="/mounts/<%= mount.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>

      <form action="/mounts/<%= mount.id  %>/edit" method="get">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Update Mount">
      </form>
    </div>
  <% end %>
