<style>
  body {
    background-color:black
  }

  h1 {
    color:cyan
  }

  p {
    color:red
  }

  div {
    background-image: url(https://wallpapercave.com/wp/wp5236570.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  </style>
<body>
<%= link_to 'Intro Page', "/", {:style => 'color:white'} %>
<%= link_to 'Hero Index', "/heroes", {:style => 'color:white'} %>
<%= link_to 'Mount Index', "/mounts", {:style => 'color:white'} %><br>

<div>
  <h1><%= @hero.name %></h1>
    <p>     level: <%= @hero.level %></p>
    <p>    alive?: <%= @hero.alive %></p>
    <p>created_at: <%= @hero.created_at %></p>
    <p>updated_at: <%= @hero.updated_at %></p>
    <p>total # of mounts: <%=@hero.mounts.count%></p>
</div>
<%= link_to 'Mounts Page', "/heroes/#{@hero.id}/mounts", {:style => 'color:white'} %><br>
<%= link_to 'Update Hero', "/heroes/#{@hero.id}/edit", {:style => 'color:white'} %>
<%= button_to 'Delete Hero', "/heroes/#{@hero.id}", method: :delete %>
</body>
