<a href="/heroes">Hero Index</a>

<h1><%= @hero.name %></h1>

<p><%= @hero.type %></p>
<p><%= @hero.level %></p>
<p><%= @hero.alive %></p>
<p><%= @hero.created_at %></p>
<p><%= @hero.updated_at %></p>
<a href="/heroes/<%= @hero.id %>/edit">Edit</a>

<form action="/mounts/new" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="New Mount">
  <input type="submit" value="New Mount"/>
</form>
